html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
  
nav{
    background-color: #814f04;
    padding: 1rem;
    text-align: center;
}
nav li{
    display: inline;
    margin-right: 20px;
    font-size: 1.2rem;
}
nav a{
    color: white;
    text-decoration: none;
}


h1 {
    color: #814f04;
    font-size: 40px;
    text-align: center;
}

body{
    text-align: center;
}
p {
    width: 60%;
    margin: 1rem auto;
    font-size: 1.2rem;
    text-align: center;
}

img {
    display: block;
    margin: 1rem auto;  
}
footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f2f2f2;
    font-size: 0.9rem;
    color: #555;
}